<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container">
        <a class="navbar-brand text-light">Electronic Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item" *ngIf="login">
                <a class="nav-link" routerLink="">Home</a>
            </li> -->
                <li class="nav-item text-light " *ngIf="login&&isAdmin">
                    <a class="nav-link" routerLink="/products/adminview">Products</a>
                </li>
                <li class="nav-item text-light" *ngIf="login&&!isAdmin">
                    <a class="nav-link" routerLink="/products/userview">Products</a>
                </li>
                <li class="nav-item text-light" *ngIf="login&&isAdmin">
                    <a class="nav-link" routerLink="/requests/requests">Requests</a>
                </li>
                <li class="nav-item text-light" *ngIf="login&&!isAdmin">
                    <a class="nav-link" routerLink="/requests/Mycart">My Cart</a>
                </li>
                <li class="nav-item text-light" *ngIf="login&&!isAdmin">
                    <a class="nav-link" routerLink="/requests/myrequests">My Requests</a>
                </li>
                <li class="nav-item text-light" *ngIf="login&&!isAdmin">
                    <a class="nav-link" routerLink="/requests/requesthistory">History</a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
            <img routerLink="/profile" routerLink="/profile" src={{profileImg}} *ngIf="login"
                style="width:3.5%;border-radius: 100%; cursor: pointer;" class="mr-3" alt="">
            <div class="form-inline">
                
                <button class="btn btn-outline-info " *ngIf="login" (click)="logout()"
                    >LogOut</button>
            </div>
        </div>
    </div>
</nav>
